
@font-face {
  font-family: 'gilroy-extraBold';
  src: url('../fonts/gilroy/GilroyExtraBold.eot');
  src: url('../fonts/gilroy/GilroyExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/GilroyExtraBold.woff') format('woff'),
  url('../fonts/gilroy/GilroyExtraBold.woff2') format('woff2'),
  url('../fonts/gilroy/GilroyExtraBold.ttf') format("truetype"),
  url('../fonts/gilroy/GilroyExtraBold.svg#GilroyExtraBold') format("svg");
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'gilroy-light';
  src: url('../fonts/gilroy/GilroyLight.eot');
  src: url('../fonts/gilroy/GilroyLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/GilroyLight.woff') format('woff'),
  url('../fonts/gilroy/GilroyLight.woff2') format('woff2'),
  url('../fonts/gilroy/GilroyLight.ttf') format("truetype"),
  url('../fonts/gilroy/GilroyLight.svg#GilroyLight') format("svg");
  font-weight: normal; font-style: normal;
}

//------------Avenir Fonts--------------
@font-face {
  font-family: 'avenirNexCyr-medium';
  src: url('../fonts/avenirNextCyr/AvenirNextCyrMedium.eot');
  src: url('../fonts/avenirNextCyr/AvenirNextCyrMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirNextCyr/AvenirNextCyrMedium.woff') format('woff'),
  url('../fonts/avenirNextCyr/AvenirNextCyrMedium.woff2') format('woff2'),
  url('../fonts/avenirNextCyr/AvenirNextCyrMedium.ttf') format("truetype"),
  url('../fonts/avenirNextCyr/AvenirNextCyrMedium.svg#AvenirNextCyrMedium') format("svg");
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'avenirNexCyr-bold';
  src: url('../fonts/avenirNextCyr/AvenirNextCyrBold.eot');
  src: url('../fonts/avenirNextCyr/AvenirNextCyrBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirNextCyr/AvenirNextCyrBold.woff') format('woff'),
  url('../fonts/avenirNextCyr/AvenirNextCyrBold.woff2') format('woff2'),
  url('../fonts/avenirNextCyr/AvenirNextCyrBold.ttf') format("truetype"),
  url('../fonts/avenirNextCyr/AvenirNextCyrBold.svg#AvenirNextCyrBold') format("svg");
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'avenirNexCyr-regular';
  src: url('../fonts/avenirNextCyr/AvenirNextCyrRegular.eot');
  src: url('../fonts/avenirNextCyr/AvenirNextCyrRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirNextCyr/AvenirNextCyrRegular.woff') format('woff'),
  url('../fonts/avenirNextCyr/AvenirNextCyrRegular.woff2') format('woff2'),
  url('../fonts/avenirNextCyr/AvenirNextCyrRegular.ttf') format("truetype"),
  url('../fonts/avenirNextCyr/AvenirNextCyrRegular.svg#AvenirNextCyrRegular') format("svg");
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'avenirNexCyr-demi';
  src: url('../fonts/avenirNextCyr/AvenirNextCyrDemi.eot');
  src: url('../fonts/avenirNextCyr/AvenirNextCyrDemi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirNextCyr/AvenirNextCyrDemi.woff') format('woff'),
  url('../fonts/avenirNextCyr/AvenirNextCyrDemi.woff2') format('woff2'),
  url('../fonts/avenirNextCyr/AvenirNextCyrDemi.ttf') format("truetype"),
  url('../fonts/avenirNextCyr/AvenirNextCyrDemi.svg#AvenirNextCyrDemi') format("svg");
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'avenirNexCyr-light';
  src: url('../fonts/avenirNextCyr/AvenirNextCyrLight.eot');
  src: url('../fonts/avenirNextCyr/AvenirNextCyrLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenirNextCyr/AvenirNextCyrLight.woff') format('woff'),
  url('../fonts/avenirNextCyr/AvenirNextCyrLight.woff2') format('woff2'),
  url('../fonts/avenirNextCyr/AvenirNextCyrLight.ttf') format("truetype"),
  url('../fonts/avenirNextCyr/AvenirNextCyrLight.svg#AvenirNextCyrLight') format("svg");
  font-weight: normal; font-style: normal;
}

