//------Colors---------
$main-color: #233F81;
$secondary-color: #5BBBEE;
$tertiary-color: #fff;
$standard-color: #000;

$services-section-background: #E8F0F4;

//-------Fonts-----------
$global-font-size: 14px;

$primary-font-family: 'gilroy-extraBold';
$primary-font-family-light: 'gilroy-light';

$secondary-font-family-bold: 'avenirNexCyr-bold';
$secondary-font-family-medium: 'avenirNexCyr-medium';
$secondary-font-family-regular: 'avenirNexCyr-regular';
$secondary-font-family-demi: 'avenirNexCyr-demi';
$secondary-font-family-light: 'avenirNexCyr-light';

$header-nav-menu: 12px;

//-----Strings--------
$image_dir: '../img/';
$icons_dir: '../img/icons/';
$partners_dir: '../img/partners/';


//-------Other---------
$map-height: 440px;


